body {
    margin: 0;
    background-color: lightcyan;
    color: darkblue;
    display: flex;  /*we need flex and*/
    min-height: 100vh;  /*100% of viewport height to centered the items*/
    justify-content: center;    /*horizontally*/
    align-items: center;    /*vertical alignment. can't be used without min-height*/
    font-family: monospace;
}

.container {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 20px;
    width: 85%px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
}

.heading {
    margin: 5px;
    font-size: 30px;
    color: darkcyan;
}

.ratingsContainer {
    display: flex;  /*bring elements next to each other */
    padding: 20px 0; /* 0 is for left and right*/
}

.ratings {
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}

.ratings:hover {
    background: lightseagreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    transition: all 300ms ease;
}

.btn {
    background-color: darkcyan;
    color: aliceblue;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn:active {
    transform: scale(0.96); /*when the button is clicked*/
}

.ratings img {
    width: 40px;
}